{% extends 'AppBundle::layouts/filled.html.twig' %}

{% block javascripts %}
    {{- parent() -}}
    <script type="text/javascript">
        $(function(){
            var data = {{ entity.getTrackpoints().toArray()|json_encode|raw}}
            var options = {
                'color': '{{ entity.getSport.getColor() }}'
            };
            var workoutMapPreview = new myGpsWorkouts.plugins.WorkoutMapPreview(data, options);
            workoutMapPreview.render();
        });
    </script>
{% endblock %}

{% block content -%}

    <div class="panel-heading">
        <h2 class="pull-left">{{ entity.getSport().getDisplayName()|capitalize }}, {{ entity.getStartDatetime()|date('Y-m-d H:i:s') }}</h2>
    </div>
    <div class="clearfix"></div>
    <div class="row workoutSummary">
        <div class="col-md-2">
            <span class="summaryTitle">
                {{ 'workout.view.summary.distance'|trans }}
            </span>
            <span class="summaryValue">
                {{ entity.getDistanceMeters()|distance }}
            </span>
        </div>
        <div class="col-md-2">
            <span class="summaryTitle">
                {{ 'workout.view.summary.duration'|trans }}
            </span>
            <span class="summaryValue">
                {{ entity.getTotalTimeSeconds()|duration  }}
            </span>
        </div>
        <div class="col-md-2">
            <span class="summaryTitle">
                {{ 'workout.view.summary.calories'|trans }}
            </span>
            <span class="summaryValue">
                {{ entity.getCalories()|default('-')  }}
            </span>
        </div>
        <div class="col-md-2">
            <span class="summaryTitle">
                {{ 'workout.view.summary.averageHeartRate'|trans }}
            </span>
            <span class="summaryValue">
                {{ entity.getAverageHeartRateBpm()|default('-')  }}
            </span>
        </div>
        <div class="col-md-2">
            <span class="summaryTitle">
                {{ 'workout.view.summary.maximumHeartRate'|trans }}
            </span>
            <span class="summaryValue">
                {{ entity.getMaximumHeartRateBpm()|default('-')  }}
            </span>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div id="workoutMapCanvas" class="mapCanvas">

    </div>

{% endblock %}
