{% extends 'AppBundle::layouts/filled.html.twig' %}

{% block javascripts %}
    {{- parent() -}}
    <script type="text/javascript">
        $(function(){
            var data = {{ entity.getTrackpoints().toArray()|json_encode|raw}}
            var options = {
                'color': '{{ entity.getSport.getColor() }}'
            };
            var workoutMapPreview = new myGpsWorkouts.plugins.WorkoutMapPreview(data, options);
            workoutMapPreview.render();
        });
    </script>
{% endblock %}

{% block content -%}

    <div class="panel-heading">
        <h2 class="pull-left">{{ entity.getSport().getDisplayName()|capitalize }}, {{ entity.getStartDatetime()|date('Y-m-d H:i:s') }}</h2>
        <div class="pull-right header-buttons">
            <a href="" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-export"></span>
                {{ 'workout.view.tcxExport'|trans }}
            </a>
        </div>
    </div>
    <div class="cb"></div>
    <div id="workoutMapCanvas" class="mapCanvas">

    </div>

{% endblock %}
