{% extends 'AppBundle::layouts/filled.html.twig' %}

{% block content -%}
    <h1>{{ 'sport.form.edit.title'|trans }} </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-lg btn-success" type="submit">
            <span class="glyphicon glyphicon-pencil"></span>
            {{ 'sport.form.save.label'| trans }}
        </button>
    {{ form_end(form) }}

{% endblock %}
